/* src/app/play-quiz/play-quiz.component.css */
ul {
  list-style-type: none;
  padding: 0;
}
li {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 4px;
}
li.selected {
  background-color: #d3d3d3;
}

.content {
  height: 100vh;
}


.result{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 300px;
  padding: 10px;
  border: 1px solid #441c1c;
}

.divider{
  width: 100%;
}
