<div class="contentMain">
  <div *ngIf="questions.length && !quizFinished" class="quiz-container animated">
    <app-quizo-question
      [question]="questions[currentQuestionIndex]"
      [selectedOption]="selectedOption"
      (optionSelected)="onOptionSelected($event)">
    </app-quizo-question>
    <button (click)="submitAnswer()" pButton type="button" label="Valider la Reponse" class="animated-button"></button>
    <div class="timer animated">Temps Restant: {{ timer }} seconds</div>
  </div>
  <p-toast />

  <p-divider class="divider"></p-divider>
  
  <div *ngIf="quizFinished" class="result animated">
    <h2>Partie Terminee</h2>
    <p>Votre score est de : {{ score }}/100</p>
    <button class="m-1" routerLink="" pButton type="button" label="Acceuil" class="animated-button"></button>
  </div>
</div>
